
body{
    background: url(../img/bg51.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my_header {
    margin-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.header {
    border-bottom: 2px solid #46494f;
    padding-top: 30px;
    padding-bottom: 10px;
    
    position: relative;
}
#timer_icon{
    margin-top: 10px;
    width:60px; 
    height:60px;
}

#settings_icon{
    margin-top: 10px;
    width:45px; 
    height:45px;
}
#settings_icon:hover{
    
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
    
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#score_layer{
   margin-bottom: 16px;
}

#first_layer{
    margin-bottom: 16px;
}
/*#score_layer,#first_layer{
    left: 50%;
    margin-left: -50%;
    position: relative;
    width: 100%;
}*/   
.heart{
    position: relative;
}
.score{
    position: relative;
}
.bi,#p1_score,#p2_score{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
@media screen and (max-width: 450px){
    .imgscore{
        width: 240%;
        right: 10%;
    }
    .score{
        width: 13%;
    }
    #p1_score,#p2_score{
        left: 120%;
    }
    #score2{
        right:16%;
    }
} 
.bi-heart-fill{
    color: red;
}
.bi-heart{
    color: red;
}
#p1_score_add, #p2_score_add{
    opacity: 0;
    
}

.input-group, ul{
    left: 50%;
    margin-left: -9rem;
    position: relative;
    width: 18rem;
}


@media screen and (max-width: 1040px) {
    .container {
        padding-right: 60px;
        padding-left: 60px;
    }
    
    
}

.input-group {
    
    margin-bottom: 16px;;   
}

.alert-danger{
    margin-top: 16px;
    display: none;
}

.card{
    margin-top: 16px;
    
}

.main_footer {
    border-top: 2px solid #5d5f63;

    padding: 15px 0;
    margin-top: 16px;
}

.borders span{
    position: fixed;
    background: #d1d3d8;
}

.top {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.left {
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 10;
}

.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.right {
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    z-index: 10;
}

#first{
    font-size: 24px;
    opacity: 100%;
}

#second{
    font-size: 16px;
    opacity: 75%;
}

#third{
    font-size: 14px;
    opacity: 45%;
}


#lastletter{
    display: inline-block;
    color: red;
}
#lastletterExc{
    display: inline-block;
}

.card img{
    padding-top: 14px;
}

#addon-wrapping{
    color: rgb(0, 102, 255);
}

#popup{
    position: absolute;
    display: none;
    
    width: 60%;
    height: 70%;
    top: 10%;
    left: 20%;
    background: white;

    z-index: 1000;
    
}

#popup p {
    font-size: 17px;
    line-height: 1.75em;
    margin-bottom: 35px;
}

#popup_overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    z-index: 999;
}


#settings, #finish{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
#winner{
    text-align: center;
}