
body{
    font-family: cursive;
    background: url(../img/bg6.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#settings{
    background: url(../img/settings.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
#finish{
    background: url(../img/gameover_bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.my_header {
    margin-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.header {
    border-bottom: 2px solid #46494f;
    padding-top: 30px;
    padding-bottom: 10px;
    
    position: relative;
}

#settings_icon{
    margin-top: 10px;
    width:45px; 
    height:45px;
}

#settings_icon:hover{
    
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
    
}

#points_add{
    justify-content: space-between;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#score_layer{
   margin-bottom: 16px;
}

#first_layer{
    margin-bottom: 16px;
}
 
.heart, .score, .player{
    position: relative;
}
.player{
    white-space: nowrap;
    margin-bottom: 28px;
    
}
.playername{
    border: black 1px solid;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30%;
    background-color: #07aaf75e;
    
}
.playermain{
    width: 11%;
}
.bi,#p1_score,#p2_score, .playername{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bi-heart-fill{
    color: red;
}
.bi-heart{
    color: red;
}

#p1_score_add, #p2_score_add{
    margin-top: -16px;
    opacity: 0;
    
}

.input-group, ul{
    left: 50%;
    margin-left: -9rem;
    position: relative;
    width: 18rem;
}



.input-group {
    margin-bottom: 16px;
}

.alert-danger{
    margin-top: 16px;
    display: none;
}

.card{
    margin-top: 16px; 
}

.main_footer {
    border-top: 2px solid #5d5f63;

    padding: 15px 0;
    margin-top: 16px;
}

#first{
    font-size: 24px;
    opacity: 100%;
}

#second{
    font-size: 16px;
    opacity: 75%;
}

#third{
    font-size: 14px;
    opacity: 45%;
}


#lastletter{
    display: inline-block;
    color: red;
}

#lastletterExc{
    display: inline-block;
}

.card img{
    padding-top: 14px;
}

#addon-wrapping{
    color: rgb(0, 102, 255);
}

#popup{
    position: absolute;
    display: none;
    
    width: 60%;
    height: 70%;
    top: 10%;
    left: 20%;
    background: white;

    z-index: 1000;
    
}

#popup p {
    font-size: 17px;
    line-height: 1.75em;
    margin-bottom: 35px;
}

#popup_overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.6;
    z-index: 999;
}


#settings, #finish{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
#winner{
    text-align: center;
}
.input-group-settings{
    left: 50%;
    margin-left: -9rem;
    position: relative;
    width: 18rem;
}

.heart img{
    width: 28px;
}

.score{
    margin-top: 28px;
    
}
#p1_score,#p2_score{
    background-color: #07aaf75e;
    
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
    border-radius: 30%;
}

#circle{
    position: relative;
}
.spinner-border{
    display: none;
    position: absolute;
    top: 5%;
    right: 32%;
}






.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 32px;
    margin-bottom: -16px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  

@media screen and (max-width: 1200px) {
    .spinner-border{
        top: 25%;
        right: 20%;
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        padding-right: 60px;
        padding-left: 60px;
    }
       
}

@media screen and (max-width: 490px) {
    .spinner-border{
        top: 25%;
        right: -20%;
        width: 1rem;
        height: 1rem;
    }
    #save_button{
        width: 50%;
        font-size: 1rem;
    }
    #go_back_button{
        width: 30%;
        font-size: 1rem;
    }
    #points_add{
        justify-content: space-around;
    }
    .input-group-settings{
        left: 8%;
        margin-left: 1rem;
        position: relative;
        width: 10rem;
    }
}

@media screen and (max-width: 415px) {
    .spinner-border{
        top: 25%;
        right: -10%;
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .spinner-border{
        top: 25%;
        right: -20%;
        width: 1rem;
        height: 1rem;
    }
}

